body{
    margin: 0;
    padding: 0;
   font-weight: sans-serif;
   background-color: #5897f6;



}
.signupbox{
    width:350px;
    height: 650px;
    background:#7fc2f5;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 3px;
    border: 30%;

}
form{
    width: 300px;
    margin-left: 20px;
}   
form label{
    font-size: 20px;
    margin-top: 20px;
    display: flex;
}
form input{
    width: 300px;
    height: 35px;
    margin-top: 18px;
    font-size: 15px;
    padding: 5px;
    color: rgb(25, 22, 28);
    border-radius: 6px;
    text-align: left;
} 
input[type="button"]{
    width: 320px;
    height: 320px;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(235, 229, 229);
}  
h1{
    text-align: left;
    padding-top: 6px;
}
#btn
{
    background-color:lightblue;
}
 


