body{
    margin: 0;
    padding: 0;
   font-weight: sans-serif;
   background-color: #97BAEE;

}
.Signupbox{
    width:350px;
    height: 650px;
    background:#BBDFFA;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 3px;
}
form{
    width: 300px;
    margin-left: 20px;
}   
form label{
    font-size: 20px;
    margin-top: 20px;
    display: flex;
}
form input{
    width: 300px;
    height: 35px;
    margin-top: 18px;
    font-size: 15px;
    padding: 5px;
    color: blueviolet;
    border-radius: 6px;
} 
input[type="button"]{
    width: 320px;
    height: 320px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}  
h1{
    text-align: center;
    padding-top: 6px;
} 


